<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <table class="table table-sm table-striped">
    <thead>
      <tr class="header-row">
        <th>Code</th>
        <th>URL</th>
        <th>From</th>
      </tr>
    </thead>
  {{#links}}
    <tr>
      <td>{{code}}</td>
      <td><a target="_blank" href="{{{url}}}">{{{url}}}<a></td>
      <td><a target="_blank" href="{{{from}}}">{{{from}}}</a></td>
    </tr>
  {{/links}}
  </table>
  </body>
</html>
